<p *ngIf = "!(authService.getUser()|async)">welcome</p>
<mat-accordion *ngIf = "(authService.getUser()|async)">
<h2>List of clients</h2> 
<div>
    <button mat-raised-button
        color = "primary"
        (click) = "addClientFormOPen = !addClientFormOPen">
        Add Client
    </button>      
    </div>
    <div>
    <client-form *ngIf = "addClientFormOPen"
    (update) = "add($event)"
    (closeEdit) = "addClientFormOPen = false"
    [formType] = "'Add client'">
    </client-form> 
</div>
  
<mat-accordion>
<mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false"
                        *ngFor = "let client of clients$ | async;let i = index">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{client.name}}
        </mat-panel-title>
        <mat-panel-description>
            {{client.years}}
        </mat-panel-description>
        <mat-panel-description>
            {{client.incame}}
        </mat-panel-description>
        <button mat-raised-button color="warn" (click)="deleteClient(client.id)">Delete</button>

        <button *ngIf ="client.ST==0" mat-raised-button color="primary" (click)="predict(client)">Predict</button>

        <mat-panel-description *ngIf = "client.category=='YES'" class="green">
            {{client.category}}
        </mat-panel-description>
        <mat-panel-description *ngIf = "client.category=='NO'" class="red">
            {{client.category}}
        </mat-panel-description>
        <mat-panel-description *ngIf = "client.category==''">
            {{client.category}}
        </mat-panel-description>
        <button *ngIf ="client.ST==1" mat-raised-button color="primary" (click)="save(client)">Save</button>
        <p *ngIf ="client.ST==2"> saved </p> 
    </mat-expansion-panel-header> 
    <button mat-raised-button
        color = "primary"
        (click) = "editstate[i] = !editstate[i]">
        Edit
    </button> 
    <client-form
        [hidden] = "!editstate[i]"
        [name] = "client.name"
        [years] = "client.years"
        [incame] = "client.incame"
        [formType] = "'Edit client'"
        [id] = "client.id"
        (update) = "update($event);editstate[i] = !editstate[i]"
        (closeEdit) = "editstate[i] = !editstate[i]">
    </client-form> 
</mat-expansion-panel>
</mat-accordion>
  
  