<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let post of posts$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
            {{post.id}}  
            {{post.title}}
        </mat-panel-title>
        <div *ngIf = "postID == post.id"><b>{{message}}</b></div>
        <button mat-raised-button color="primary"
        (click)= "add(post.id,post.title,post.body,post.ST=0)">
            save
        </button>
      </mat-expansion-panel-header>
      <p>{{post.body}}</p>
      commons:
      <div *ngFor = "let comon of comons$ | async">
        <a *ngIf = "post.id==comon.postId">*{{comon.email}}, *{{comon.name}}, *{{comon.body}}</a>
      </div>
    </mat-expansion-panel>
</mat-accordion>
  