<p *ngIf = "!(authService.getUser()|async)">You are not logged in</p>
<mat-accordion *ngIf = "(authService.getUser()|async)">
    <h2>List of saves</h2>   
<mat-accordion>
<mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false"
                        *ngFor = "let save of saves$ | async">
    <mat-expansion-panel-header>
        <mat-panel-title> 
            {{save.title}}
        </mat-panel-title>
        <div>{{save.ST}} likes for this post</div>
        <button mat-raised-button color="warn" (click)="deleteSave(save.id)">Delete</button>
        <button mat-raised-button color="primary" (click)="like(save.id,save.ST)">Like</button>
    </mat-expansion-panel-header>  
    <p>{{save.body}}</p>
</mat-expansion-panel>
</mat-accordion>
