<mat-card>
    <h1>{{formType}}</h1>
    <form #clientForm="ngForm">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
                <mat-label>Name</mat-label>
                <input matInput 
                [(ngModel)] = "name"
                name = "name"
                required>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="standard">
                <mat-label>Years of education</mat-label>
                <input matInput 
                [(ngModel)] = "years"
                name = "years"
                required>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="standard">
                <mat-label>Incame</mat-label>
                <input matInput 
                [(ngModel)] = "incame"
                name = "incame"
                required>
            </mat-form-field>
        </p>
        <div >
            <button mat-raised-button color="primary"
            (click)= "updateParent()">
                {{formType}}
            </button>
            <button mat-raised-button  
                (click)= "tellParentToClose()">
                Cancel
          </button> 
          <mat-error><p *ngIf = "isError">the years must be between 0 to 24</p></mat-error>
        </div>
      </div>
    </form>
</mat-card>
